html, body {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	background-color: #ebe2d7;
}

header {
	float: left;
	height: 0px;
	top: -20px;
	height: 900PX;
}
main {
	margin-top: 60px;
}

/*---CONTAINERS---*/
.container {
	width: 1020px;
	margin: 0px auto;
}
#main-img {
	display: block;
	position: relative;
	top: -60px;
	margin: 0px auto;	
}

/*---NAVBAR---*/
nav {
	width: 1020px;
	height: 60px;
	background-color: #385863d9;
	border-radius: 20px;
	position: relative;
	top: -950px;
}
nav ul li{
	list-style-type: none;
	float: left;
	width: 170px;
	text-align: center;
	margin-top: 17px;

}
nav ul li a {
	color: white;
	text-decoration: none;
	font-size: 22px;
}
nav ul li a h1 {
	position: relative;
	left: -36px;
	margin-top: 0px;
	font-size: 22px;
}
#bar-to-right {
	position: absolute;
	right: -14px;
	margin: 0px;
}

/*---HEADER-TEXT+BUTTON---*/
#slogan {
	text-align: center;
	position: relative;
	top: -775px;
	color: white;
	font-size: 70px;
}
#btn-vice {
	background-color: #385863d9;
	width: 230px;
	margin: 0 auto;
	padding: 15px 25px;
	border-radius: 30px;
	text-align: center;
	position: relative;
	top: -830px;
	color: white;
	font-size: 22px;
}
/*---FOOTER---*/
footer {
	background-color: #385863b3;
	top: 120px;
	color: white;
	text-align: left;
	margin-top: 100px;
}
footer p {
	font-size: 22px;
	padding: 30px 0px;
	margin-bottom: 0px;
}


/*---CLEARFIX:AFTER---*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}